.sidebar {
  width: 220px;
  height: 110vh;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-foto {
  background-color: #1abc9c;
  width: 80%;
  height: 140px;
  margin-bottom: 20px;
}

.sidebar-user {
  margin-bottom: 30px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-top: 30px;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar-menu a:hover {
  color: #1abc9c;
}